.h1 {
   display: flex;
   margin: 0 auto;
   width: 300px;
   height: 100px;
   border: 1px solid black;
   border-radius: 10px;
   background-color: green;
   justify-content: center;
   align-items: center;
}